.introduccion {
    z-index: 1;
    background: url(../img/banner/fondo-banner.png) no-repeat top center;
    background-position: center;
    background-size: cover;

    .introduccion-interior {
        width: 90%;

        .banner_img {
            padding-top: 197px;

            @media (max-width: 1480px) {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            @media (max-width: 991px) {
                display: none;
            }
        }

        .col-lg-7 {
            vertical-align: middle;
            align-self: center;
        }

        .introduccion-contenido {
            text-align: left;

            @media (max-width: 991px) {
                margin-top: 150px;
            }

            h3 {
                font-size: 40px;
                margin-bottom: 20px;
                position: relative;

                &:after {
                    content: '';
                    width: 410px;
                    height: 2px;
                    position: absolute;
                    top: 50%;
                    left: 23%;
                    background: $title-color;

                    @media (max-width: 575px) {
                        display: none;
                    }
                }
            }

            h1 {
                margin-top: 20px;
                font-size: 70px;
                line-height: 60px;
                margin-bottom: 25px;

                @media (max-width: 1024px) {
                    font-size: 60px;
                }

                @media (max-width: 767px) {
                    font-size: 50px;
                }
            }

            h5 {
                font-size: 24px;
                margin-bottom: 35px;
            }

            .primary_btn {
                margin-right: 20px;
            }
        }
    }
}

//Introducción responsive
@media (max-width: 1619px) {}

@media (max-width: 1300px) {}

@media (max-width: 1199px) {

    .introduccion .introduccion-interior {
        padding: 100px 0px;
    }
}

@media (max-width: 991px) {
    .introduccion {
        margin-top: 0;
    }

    .banner_img {
        display: none;
    }
}

@media (max-width: 767px) {
    .introduccion {
        min-height: 300px;
    }

    .introduccion .introduccion-interior {
        min-height: 300px;
        padding-top: 200px;
        padding-bottom: 50px;
    }

    .introduccion .introduccion-interior .introduccion-contenido {
        margin-top: 0px;

        .primary_btn {
            display: none;
        }
    }

    .introduccion .introduccion-interior .introduccion-contenido h3 {
        font-size: 30px;
    }

    .introduccion .introduccion-interior .introduccion-contenido h3 span {
        line-height: 45px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

}

@media (max-width: 600px) {}

@media (max-width: 575px) {
    .introduccion {
        min-height: 450px;
    }

    .introduccion .introduccion-interior {
        min-height: 450px;
    }

    .introduccion .introduccion-interior .introduccion-contenido img {
        display: none;
    }

    .introduccion .introduccion-interior .introduccion-contenido h5 {
        margin-top: 0px;
    }

}

@media (max-width: 480px) {

    .introduccion .introduccion-interior .introduccion-contenido {
        padding: 30px 15px;
        margin-top: 0px;
    }

    .introduccion .introduccion-interior .introduccion-contenido h3 {
        font-size: 24px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {}