@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500,700");
body {
  line-height: 26px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777777;
  background: url(../img/body-bg.png) no-repeat center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #000000;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.primary_btn {
  display: inline-block;
  color: #fff;
  letter-spacing: 0px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 46px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  border: double 2px transparent;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}
.primary_btn span {
  padding: 0 40px;
}
.primary_btn.tr-bg {
  background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
  border: 2px solid transparent;
  color: #222222;
  box-shadow: none;
}
.primary_btn.tr-bg:hover {
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  border: double 2px transparent;
  color: #ffffff;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}
.primary_btn:hover {
  background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
  border: 2px solid #854fee;
  color: #222222;
  box-shadow: none;
  background-clip: border-box;
}

.gradient-color, .informacion_contacto .info_item i {
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  background-clip: text;
  background-color: transparent;
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.acomodador {
  padding: 100px 0;
}
@media (max-width: 1199px) {
  .acomodador {
    padding: 80px 0;
  }
}

.acomodador_arriba {
  padding-top: 50px;
}
@media (max-width: 1199px) {
  .acomodador_arriba {
    padding-top: 25px;
  }
}

.acomodador_abajo {
  padding-bottom: 50px;
}
@media (max-width: 1199px) {
  .acomodador_abajo {
    padding-bottom: 80px;
  }
}

@media (max-width: 575px) {
  .acomodador {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .titular h2 {
    font-size: 25px;
  }
}
.titular {
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 1199px) {
  .titular {
    margin-bottom: 50px;
  }
}
.titular h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 50px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .titular h2 br {
    display: none;
  }
}
@media (max-width: 767px) {
  .titular h2 {
    font-size: 30px;
    line-height: 34px;
  }
}
.titular p {
  margin-bottom: 0px;
}

@media (max-width: 991px) {
  .titular p br {
    display: none;
  }
}
.titular.white h2 {
  color: #fff;
}

.titular.white p {
  color: #fff;
  opacity: 0.6;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 9999;
  background: transparent;
}
.header .menu_nav {
  width: 100%;
}
.header .navbar {
  background: #ffffff;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  width: 100%;
}
.header .navbar .nav .nav-item {
  margin-right: 45px;
}
.header .navbar .nav .nav-item .nav-link {
  font: 500 14px/100px "Rubik", sans-serif;
  text-transform: uppercase;
  color: #000000;
  padding: 0px;
  display: inline-block;
}
.header .navbar .nav .nav-item .nav-link:after {
  display: none;
}
.header .navbar .nav .nav-item:hover .nav-link, .header .navbar .nav .nav-item.active .nav-link {
  color: #4458dc;
}
.header .navbar .nav .nav-item:last-child {
  margin-right: 0px;
}
.header.navbar_fixed .menu_principal {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #ffffff;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}
.header.navbar_fixed .menu_principal .navbar .nav .nav-item .nav-link {
  line-height: 70px;
}
@media (min-width: 992px) {
  .header.white_menu .navbar .navbar-brand img {
    display: none;
  }
  .header.white_menu .navbar .navbar-brand img + img {
    display: inline-block;
  }
}
@media (max-width: 991px) {
  .header.white_menu .navbar .navbar-brand img {
    display: inline-block;
  }
  .header.white_menu .navbar .navbar-brand img + img {
    display: none;
  }
}
.header.white_menu .navbar .nav .nav-item .nav-link {
  color: #fff;
}
.header.white_menu.navbar_fixed .menu_principal .navbar .navbar-brand img {
  display: inline-block;
}
.header.white_menu.navbar_fixed .menu_principal .navbar .navbar-brand img + img {
  display: none;
}
.header.white_menu.navbar_fixed .menu_principal .navbar .nav .nav-item .nav-link {
  line-height: 70px;
  color: #000000;
}

@media (max-width: 1619px) {
  .header .navbar .search {
    margin-left: 40px;
  }
}
@media (max-width: 1199px) {
  .header .navbar .nav .nav-item {
    margin-right: 28px;
  }
  .header .navbar .primary_btn {
    margin-left: 40px;
  }
}
@media (max-width: 991px) {
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
  }
  .header .navbar {
    background: #000;
  }
  .navbar-toggler[aria-expanded=false] span:nth-child(2) {
    opacity: 1;
  }
  .navbar-toggler[aria-expanded=true] span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler[aria-expanded=true] span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
  }
  .navbar-toggler[aria-expanded=true] span:last-child {
    transform: rotate(45deg);
    bottom: 6px;
    position: relative;
  }
  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
  }
  .navbar .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav {
    padding: 0px 0px;
  }
  .header + section,
.header + row,
.header + div {
    margin-top: 117px;
  }
  .header_top .nav {
    padding: 0px;
  }
  .header .navbar .nav .nav-item .nav-link {
    line-height: 40px;
    margin-right: 0px;
    display: block;
    border-bottom: 1px solid rgba(237, 237, 237, 0.2);
    border-radius: 0px;
    color: #fff;
  }
  .header .navbar .search {
    margin-left: 0px;
  }
  .header .navbar-collapse {
    max-height: 340px;
    overflow-y: scroll;
  }
  .header .navbar .nav .nav-item {
    margin-right: 0px;
  }
  .header + section,
.header + row,
.header + div {
    margin-top: 0px;
  }
  .header.navbar_fixed .menu_principal .navbar .nav .nav-item .nav-link {
    line-height: 40px;
    color: #fff;
  }
  .header.white_menu.navbar_fixed .menu_principal .navbar .nav .nav-item .nav-link {
    line-height: 40px;
    color: #fff;
  }
  .header.white_menu .navbar .nav .nav-item .nav-link {
    color: #222;
  }
  .header .navbar .primary_btn {
    display: none;
  }
}
@media (max-width: 575px) {
  .header + section,
.header + row,
.header + div {
    margin-top: 0px;
  }
}
@media (max-width: 480px) {
  .header .navbar-collapse {
    max-height: 250px;
  }
}
.introduccion {
  z-index: 1;
  background: url(../img/banner/fondo-banner.png) no-repeat top center;
  background-position: center;
  background-size: cover;
}
.introduccion .introduccion-interior {
  width: 90%;
}
.introduccion .introduccion-interior .banner_img {
  padding-top: 197px;
}
@media (max-width: 1480px) {
  .introduccion .introduccion-interior .banner_img img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 991px) {
  .introduccion .introduccion-interior .banner_img {
    display: none;
  }
}
.introduccion .introduccion-interior .col-lg-7 {
  vertical-align: middle;
  align-self: center;
}
.introduccion .introduccion-interior .introduccion-contenido {
  text-align: left;
}
@media (max-width: 991px) {
  .introduccion .introduccion-interior .introduccion-contenido {
    margin-top: 150px;
  }
}
.introduccion .introduccion-interior .introduccion-contenido h3 {
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
}
.introduccion .introduccion-interior .introduccion-contenido h3:after {
  content: "";
  width: 410px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 23%;
  background: #000000;
}
@media (max-width: 575px) {
  .introduccion .introduccion-interior .introduccion-contenido h3:after {
    display: none;
  }
}
.introduccion .introduccion-interior .introduccion-contenido h1 {
  margin-top: 20px;
  font-size: 70px;
  line-height: 60px;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .introduccion .introduccion-interior .introduccion-contenido h1 {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .introduccion .introduccion-interior .introduccion-contenido h1 {
    font-size: 50px;
  }
}
.introduccion .introduccion-interior .introduccion-contenido h5 {
  font-size: 24px;
  margin-bottom: 35px;
}
.introduccion .introduccion-interior .introduccion-contenido .primary_btn {
  margin-right: 20px;
}

@media (max-width: 1199px) {
  .introduccion .introduccion-interior {
    padding: 100px 0px;
  }
}
@media (max-width: 991px) {
  .introduccion {
    margin-top: 0;
  }
  .banner_img {
    display: none;
  }
}
@media (max-width: 767px) {
  .introduccion {
    min-height: 300px;
  }
  .introduccion .introduccion-interior {
    min-height: 300px;
    padding-top: 200px;
    padding-bottom: 50px;
  }
  .introduccion .introduccion-interior .introduccion-contenido {
    margin-top: 0px;
  }
  .introduccion .introduccion-interior .introduccion-contenido .primary_btn {
    display: none;
  }
  .introduccion .introduccion-interior .introduccion-contenido h3 {
    font-size: 30px;
  }
  .introduccion .introduccion-interior .introduccion-contenido h3 span {
    line-height: 45px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
@media (max-width: 575px) {
  .introduccion {
    min-height: 450px;
  }
  .introduccion .introduccion-interior {
    min-height: 450px;
  }
  .introduccion .introduccion-interior .introduccion-contenido img {
    display: none;
  }
  .introduccion .introduccion-interior .introduccion-contenido h5 {
    margin-top: 0px;
  }
}
@media (max-width: 480px) {
  .introduccion .introduccion-interior .introduccion-contenido {
    padding: 30px 15px;
    margin-top: 0px;
  }
  .introduccion .introduccion-interior .introduccion-contenido h3 {
    font-size: 24px;
  }
}
.footer {
  padding: 120px 0;
  position: relative;
}
.footer:before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #f9f9fd;
  z-index: -1;
}
@media (max-width: 1024px) {
  .footer {
    padding: 60px 0;
  }
}
.footer .footer_logo {
  text-align: center;
}
.footer .footer_logo h4 {
  font-size: 20px;
  color: #000000;
  margin-top: 35px;
  text-transform: uppercase;
}
.footer .footer_social {
  text-align: center;
  margin: 25px 0px 30px;
}
.footer .footer_social a {
  padding: 0 20px;
}
.footer .footer_social a i {
  color: #788489;
  font-size: 22px;
  transition: all 0.4s ease 0s;
}
@media (max-width: 576px) {
  .footer .footer_social a i {
    font-size: 25px;
  }
}
.footer .footer_social a i:hover {
  color: #854fee;
}
.footer .footer_abajo {
  text-align: center;
}
.footer .footer_abajo p {
  margin-bottom: 0;
}
.footer .footer_abajo a {
  color: #4458dc;
}

@media (max-width: 991px) {
  .footer {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    background-image: none !important;
    background-color: #fcf8ff;
  }
}
@media (max-width: 767px) {
  .footer_abajo {
    text-align: center;
  }
  .footer_abajo .footer_social {
    text-align: center;
    margin-top: 15px;
  }
}
@media (max-width: 575px) {
  .footer {
    padding: 70px 0px;
  }
}
.introduccion-paginas {
  position: relative;
  z-index: 1;
  min-height: 485px;
}
@media (max-width: 1199px) {
  .introduccion-paginas {
    min-height: 350px;
  }
}
.introduccion-paginas .interno-introduccion-paginas {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 485px;
  background: url(../img/banner/accesorio-banner.png) no-repeat right bottom;
  background-size: 90% 85%;
  width: 98%;
  z-index: 1;
}
@media (max-width: 1199px) {
  .introduccion-paginas .interno-introduccion-paginas {
    min-height: 350px;
  }
}
@media (max-width: 991px) {
  .introduccion-paginas .interno-introduccion-paginas {
    background: #854fee;
    width: 100%;
  }
}
.introduccion-paginas .interno-introduccion-paginas .contenido-introduccion-paginas {
  margin-left: 50px;
  margin-top: 100px;
}
@media (max-width: 991px) {
  .introduccion-paginas .interno-introduccion-paginas .contenido-introduccion-paginas {
    margin-left: 0px;
    margin-top: 50px;
  }
}
.introduccion-paginas .interno-introduccion-paginas .contenido-introduccion-paginas h2 {
  color: #fff;
  font-size: 50px;
  font-family: "Rubik", sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 991px) {
  .introduccion-paginas .interno-introduccion-paginas .contenido-introduccion-paginas h2 {
    font-size: 30px;
  }
}
.introduccion-paginas .interno-introduccion-paginas .contenido-introduccion-paginas .paginas_link a {
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-right: 20px;
  position: relative;
}
.introduccion-paginas .interno-introduccion-paginas .contenido-introduccion-paginas .paginas_link a:before {
  content: "-";
  position: absolute;
  right: -14px;
  top: 50%;
  transform: translateY(-50%);
}
.introduccion-paginas .interno-introduccion-paginas .contenido-introduccion-paginas .paginas_link a:last-child {
  margin-right: 0px;
}
.introduccion-paginas .interno-introduccion-paginas .contenido-introduccion-paginas .paginas_link a:last-child:before {
  display: none;
}

.informacion_contacto .info_item {
  position: relative;
  padding-left: 45px;
}
.informacion_contacto .info_item i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
.informacion_contacto .info_item h6 {
  font-size: 16px;
  line-height: 24px;
  color: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  color: #000000;
}
.informacion_contacto .info_item h6 a {
  color: #000000;
}
.informacion_contacto .info_item p {
  font-size: 14px;
  line-height: 24px;
  padding: 2px 0px;
}

.formulario_contacto .grupos-formulario {
  margin-bottom: 10px;
}
.formulario_contacto .grupos-formulario .controles_formulario {
  font-size: 13px;
  line-height: 26px;
  color: #999;
  border: 1px solid #eeeeee;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  padding-left: 20px;
}
.formulario_contacto .grupos-formulario .controles_formulario:focus {
  box-shadow: none;
  outline: none;
}
.formulario_contacto .grupos-formulario .controles_formulario.placeholder {
  color: #999;
}
.formulario_contacto .grupos-formulario .controles_formulario:-moz-placeholder {
  color: #999;
}
.formulario_contacto .grupos-formulario .controles_formulario::-moz-placeholder {
  color: #999;
}
.formulario_contacto .grupos-formulario .controles_formulario::-webkit-input-placeholder {
  color: #999;
}
.formulario_contacto .grupos-formulario textarea {
  resize: none;
}
.formulario_contacto .grupos-formulario textarea.controles_formulario {
  height: 134px;
}
.formulario_contacto .primary_btn {
  margin-top: 20px;
}

.section_gap {
  padding: 200px 0;
}
@media (max-width: 1199px) {
  .section_gap {
    padding: 80px 0;
  }
}

.acerca {
  position: relative;
}
.acerca .titular {
  margin-bottom: 0px;
}
.acerca .titular p {
  margin-bottom: 20px;
}
.acerca .primary_btn {
  margin-top: 20px;
}
.acerca .acerca_img {
  position: relative;
  right: 250px;
}
@media (max-width: 1480px) {
  .acerca .acerca_img {
    right: 0;
  }
  .acerca .acerca_img img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 991px) {
  .acerca .acerca_img {
    display: none;
  }
}

.servicios {
  padding-bottom: 170px;
}
@media (max-width: 1199px) {
  .servicios {
    padding-bottom: 50px;
  }
}

.carrousel .owl-carousel .owl-dots {
  display: block !important;
  text-align: center;
}
.carrousel .owl-carousel .owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  background: #d8d8d8;
  border-radius: 17px;
  display: inline-block;
  margin-right: 10px;
  transition: all 0.4s ease 0s;
}
.carrousel .owl-carousel .owl-dots .owl-dot.active {
  height: 12px;
  width: 12px;
  background: #854fee;
}
@media (max-width: 991px) {
  .carrousel .owl-carousel .owl-dots {
    display: none !important;
  }
}
.carrousel .owl-carousel .owl-item img {
  width: auto !important;
}

.servicio_item {
  padding: 20px 10px;
  margin-bottom: 200px;
  margin-left: 10px;
  margin: 0px 10px 20px;
  box-shadow: 0px 15px 30px 0px rgba(221, 221, 221, 0.3);
  transition: all 0.4s ease 0s;
}
@media (max-width: 991px) {
  .servicio_item {
    margin-bottom: 0px;
  }
}
@media (max-width: 575px) {
  .servicio_item {
    padding: 30px 20px;
  }
}
@media (min-width: 991px) {
  .servicio_item {
    height: 200px;
  }
}
.servicio_item img {
  border-radius: 5px;
}
.servicio_item .col-lg-8 {
  vertical-align: middle;
  align-self: center;
}
@media (max-width: 991px) {
  .servicio_item .servicio_text {
    margin-top: 50px;
  }
}
.servicio_item .servicio_text h4 {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.servicio_item .servicio_text p {
  margin-bottom: 0px;
}
.servicio_item:hover {
  box-shadow: 0px 10px 20px 0px rgba(118, 85, 225, 0.1);
}

.educacion {
  padding-bottom: 120px;
}
@media (max-width: 991px) {
  .educacion {
    padding-bottom: 50px;
  }
}
.educacion .filters ul {
  padding-left: 0;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .educacion .filters ul {
    margin-bottom: 20px;
  }
}
.educacion .filters ul li {
  display: inline-block;
  margin-right: 50px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
.educacion .filters ul li:hover, .educacion .filters ul li.active {
  color: #854fee;
}
@media (max-width: 767px) {
  .educacion .filters ul li {
    margin-right: 20px;
  }
}

.educacion_box {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .educacion_box {
    margin-bottom: 35px;
  }
}
.educacion_box .short_info {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .educacion_box .short_info {
    margin-top: 20px;
  }
}
.educacion_box .short_info h4 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 0px;
}
.educacion_box .short_info h4 a {
  color: #000000;
}

.sector_educacion_imagen {
  position: relative;
}
.sector_educacion_imagen .overlay {
  transition: all 0.4s ease 0s;
}
.sector_educacion_imagen .icon {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}
.sector_educacion_imagen .icon span {
  font-size: 100px;
  display: inline-block;
  transform: rotate(135deg);
  color: #ffffff;
  cursor: pointer;
}
.sector_educacion_imagen:hover .overlay {
  background: rgba(77, 87, 222, 0.5);
}
.sector_educacion_imagen:hover .icon {
  opacity: 1;
  visibility: visible;
  top: 50%;
  left: 50%;
}

.habilidades {
  padding-bottom: 170px;
}
@media (max-width: 1199px) {
  .habilidades {
    padding-bottom: 50px;
  }
}

.item_habilidades {
  padding: 45px 25px;
  text-align: center;
  background: #f9f9fd;
  cursor: pointer;
  margin-bottom: 30px;
  transition: all 0.4s ease 0s;
}
.item_habilidades img {
  margin-bottom: 35px;
}
.item_habilidades h4 {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.item_habilidades p {
  margin-bottom: 0px;
}
.item_habilidades:hover {
  box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
  background: #fff;
}

.experiencia {
  padding-bottom: 170px;
}
@media (max-width: 1199px) {
  .experiencia {
    padding-bottom: 50px;
  }
}

.carrousel .owl-carousel .owl-dots {
  display: block !important;
  text-align: center;
}
.carrousel .owl-carousel .owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  background: #d8d8d8;
  border-radius: 17px;
  display: inline-block;
  margin-right: 10px;
  transition: all 0.4s ease 0s;
}
.carrousel .owl-carousel .owl-dots .owl-dot.active {
  height: 12px;
  width: 12px;
  background: #854fee;
}
@media (max-width: 991px) {
  .carrousel .owl-carousel .owl-dots {
    display: none !important;
  }
}
.carrousel .owl-carousel .owl-item img {
  width: auto !important;
}

.experiencia_item {
  padding: 20px 10px;
  margin-bottom: 200px;
  margin-left: 10px;
  margin: 0px 10px 20px;
  box-shadow: 0px 15px 30px 0px rgba(221, 221, 221, 0.3);
  transition: all 0.4s ease 0s;
}
@media (max-width: 991px) {
  .experiencia_item {
    margin-bottom: 0px;
  }
}
@media (max-width: 575px) {
  .experiencia_item {
    padding: 30px 20px;
  }
}
@media (min-width: 991px) {
  .experiencia_item {
    height: 200px;
  }
}
.experiencia_item img {
  border-radius: 5px;
}
.experiencia_item .col-lg-8 {
  vertical-align: middle;
  align-self: center;
}
@media (max-width: 991px) {
  .experiencia_item .experiencia_text {
    margin-top: 50px;
  }
}
.experiencia_item .experiencia_text h4 {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.experiencia_item .experiencia_text p {
  margin-bottom: 0px;
}
.experiencia_item:hover {
  box-shadow: 0px 10px 20px 0px rgba(118, 85, 225, 0.1);
}/*# sourceMappingURL=style.css.map */